extends layout 

block content 
     div(class="buscar")
         div(class="formCarta")
            h2 Buscar cartas para tu mazo
            form(class="fone" method="POST")
                input(type="text" placeholder="Busca una carta..." name="buscar")
                button Buscar 
         h2(class="titulo2") Datos de la carta
            br
            br
            if(acard)
                p= acard.name
                p= acard.attribute
                p= acard.stars
                p= acard.description
                p= acard.type
            br
            a(href="/home") Regresar
         div(class="try")